<table class="table table-striped">
  <tbody>
    <% @movies.each_with_index do |movie,index| %>
      <tr class="align-middle">
        <th><%= counter(index) %></th>
        <td><%= link_to movie.title, movie %></td>
        <td><%= movie.text %></td>
        <td><%= movie.category.capitalize %></td>
        <td>
          <%= button_to 'Rate',
          rate_path(:id => movie.id),{ 
            remote: true,
            class:"btn btn-secondary",
            'data-bs-toggle'=>"modal",
            'data-bs-target'=>"#myModal",
            disabled:  rated(movie.id)  ? true : false 
          }%>
        </td>
        <% if user_signed_in? %>
          <%if current_user.is_admin?%>
            <td><%= button_to 'Edit',
              edit_movie_path(movie),
              method: :get,
              class:"btn btn-secondary" %> 
            </td>
            <td><%= button_to 'Destroy',
              movie,
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class:"btn btn-secondary" %>
            </td>                   
          <%end%>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @movies %>


<%= form_with url: root_path, method: :get do |form| %>
  <div class="input-group">  
    <span class="input-group-text">Category</span>
    <div class="w-20">
      <%= select_tag :category,
      options_for_select(@category, params[:category]),
      onclick:"window.location.replace('/movies/category/'+this.value);",
      class:"form-control" %>
    </div>
  </div>
<%end%>


<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <%= render 'rating/modal_rate'%>
</div>
