<p id="notice"><%= notice %></p>


<table class="table table-striped">
  <tbody>
    <% @movies.each_with_index do |movie,index| %>
      <tr>
        <th><%= index + 1 + (@movies.current_page - 1) * @movies.count  %></th>
        <td><%= link_to movie.title, movie %></td>
        <td><%= movie.text %></td>
        <td><%= movie.category.capitalize %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
        <td>Rate</td>    
      </tr>
    <% end %>
  </tbody>
  <%= paginate @movies %>
</table>

<%= form_with url: "/", method: :get do |form| %>
  <%= form.label :category, "Filter by category:" %>
  <%= select_tag :category,
      options_for_select(@category, params[:category]),
      :onchange => "window.location.replace('/movies/category/'+this.value);" %>
<% end %>

<br>

<%= link_to 'New Movie', new_movie_path %>

<div id="rate">
  <%= form_with url: "/",local: false do |u|%>
    <div class="input-group">  
        <span class="input-group-text" id="basic-addon1"><%= @rating %>/10</span>
        <div class="w-15">
          <%= select_tag "rate", options_for_select(1..10),class:"form-control" %>
        </div>
        <%= u.submit 'Rate!',class:"btn btn-outline-secondary"%>
    </div>
  <%end%>
</div>

<div id="star"></div>

<script>
  $('#star').raty({ 
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    score: 3 });
</script>

