<table class="table table-striped">
  <tbody>
    <% @movies.each_with_index do |movie,index| %>
      <tr class="align-middle">
        <th><%= index + 1 + (@movies.current_page - 1) * @movies.count  %></th>
        <td><%= link_to movie.title, movie %></td>
        <td><%= movie.text %></td>
        <td><%= movie.category.capitalize %></td>
        <td>
          <%= button_to 'Rate',
          rate_path(:id => movie.id),{ 
            remote: true,
            class:"btn btn-secondary",
            'data-bs-toggle'=>"modal",
            'data-bs-target'=>"#myModal"
          }%>
        </td>          
        <%if user_signed_in?%>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @movies %>

<%= form_with url: root_path, method: :get do |form| %>
  <%= form.label :category, "Filter by category:" %>
  <%= select_tag :category,
      options_for_select(@category, params[:category]),
      :onchange => "window.location.replace('/movies/category/'+this.value);" %>
<% end %>



<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <%= render 'rating/modal_rate'%>
</div>
