<p id="notice"><%= notice %></p>

<p>
  <h1><%= @movie.title %></h1>
</p>

<p>
  <%= button_to @movie.category,
  "category/#{@movie.category}",
  method: :get,
  class:"btn btn-dark"%>
</p>

<p>
  <%= @movie.text %>
</p>



<p>
  <%= @rating %>/10
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>

