<p id="notice"><%= notice %></p>

<p>
  <h1><%= @movie.title %></h1>
</p>

<p>
  <%= button_to @movie.category,
  "category/#{@movie.category}",
  method: :get,
  class:"btn btn-dark"%>
</p>

<h5>
  <%= @movie.text %>
</h5>

<h6>
  <%= @rating %>/10 Total votes: <%= @votes%>
</h6>


<%= button_to 'Edit',
  edit_movie_path(@movie),
  method: :get,
  class:"btn btn-secondary",
  form: {style: 'display:inline-block;'}
%> 
<%= button_to 'Back',
  movies_path,
  method: :get,
  class:"btn btn-secondary",
  form: {style: 'display:inline-block;'}
%>




